.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.deviceToggle {
  border: none;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.DeviceSwitchOn {
  background-color: lightgreen;
}

button.DeviceSwitchOff {
  background-color: lightcoral;
}

body {
  background-color: #282c34;
}

.deviceList {
  background-color: #282c34;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  list-style-type: none;
}

.singleDevice {
  position: relative;
  width: 80%;
  max-width: 200px;
  margin-top: 2%;
  margin-left: 2%;
  height: 100%;
  border-radius: 5px;
  /* padding-left: 2%; */
  /* padding-right: 2%; */
  background-color: #414855;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.deviceWrapper {
  width: 90%;
}
